<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Reserva de Producto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <br>
    <form th:action="@{/reservaproducto/new}" method="post">
        <div class="form-group">
            <label for="horainicio">Hora de Inicio:</label>
            <input type="text" class="form-control" id="horainicio" placeholder="Hora de Inicio" name="horainicio" />
        </div>
        <div class="form-group">
            <label for="horafin">Hora de Fin:</label>
            <input type="text" class="form-control" id="horafin" placeholder="Hora de Fin" name="horafin" />
        </div>
        <div class="form-group">
            <label for="servicio">Servicio:</label>
            <!-- Assuming that the Servicio object has an id and a nombre -->
            <select class="form-control" id="servicio" name="servicio">
                <option th:each="servicio : ${servicios}" th:value="${servicio.id}" th:text="${servicio.nombre}"
                    th:selected="${servicio.id == reservaServicio.servicio.id}">Servicio</option>
            </select>
        <div class="form-group">
            <label for="usuario">Usuario:</label>
            <!-- Assuming that the Usuario object has an id and a nombre -->
            <select class="form-control" id="usuario" name="usuario">
                <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nombre}">
                    Usuario</option>
            </select>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/reservaproductos}" class="btn btn-primary">Cancelar</a>
    </form>
</body>

</html>