<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Reserva</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <br>
    <form th:action="@{/reserva/new}" method="post">
        <div class="form-group">
            <label for="checkin">Check-In:</label>
            <input type="date" class="form-control" id="checkin" name="checkin" />
        </div>
        <div class="form-group">
            <label for="checkout">Check-Out:</label>
            <input type="date" class="form-control" id="checkout" name="checkout" />
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="text" class="form-control" id="precio" placeholder="Precio" name="precio" />
        </div>
        <div class="form-group">
            <label for="habitacionId">Habitación ID:</label>
            <input type="number" class="form-control" id="habitacionId" placeholder="Habitación ID"
                name="habitacionId" />
        </div>
        <div class="form-group">
            <label for="usuarioId">Usuario ID:</label>
            <input type="number" class="form-control" id="usuarioId" placeholder="Usuario ID" name="usuarioId" />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/reserva}" class="btn btn-primary">Cancelar</a>
    </form>
</body>

</html>