<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Tipo de Habitación</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <!-- Form for creating a new type of room -->
    <form th:action="@{tiposHabitacion/new}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" />
        </div>
        <div class="form-group">
            <label for="costonoche">Costo por noche:</label>
            <input type="number" class="form-control" id="costonoche" placeholder="Costo por noche" name="costonoche" />
        </div>
        <div class="form-group">
            <label for="capacidad">Capacidad:</label>
            <input type="number" class="form-control" id="capacidad" placeholder="Capacidad" name="capacidad" />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/tiposHabitacion}" class="btn btn-primary">Cancelar</a>
    </form>
</body>
</html>
