<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Cuenta de Servicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <div class="container mt-3">
        <h1>Nueva Cuenta de Servicio</h1>

        <!-- Formulario de creación de CuentaServicio -->
        <form th:action="@{/crearCuentaServicio}" th:object="${nuevaCuentaServicio}" method="post">

            <!-- Campo para la descripción -->
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}"
                    required />
            </div>

            <!-- Campo para la fecha -->
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" id="fecha" name="fecha" th:field="*{fecha}" required />
            </div>

            <!-- Campo para el ID de reserva -->
            <div class="form-group">
                <label for="reservaId">ID de Reserva:</label>
                <input type="text" class="form-control" id="reservaId" name="reservaId" th:field="*{reservaId}"
                    required />
            </div>

            <!-- Campo para el ID de servicio -->
            <div class="form-group">
                <label for="servicioId">ID de Servicio:</label>
                <input type="text" class="form-control" id="servicioId" name="servicioId" th:field="*{servicioId}"
                    required />
            </div>

            <!-- Agrega más campos según tus necesidades -->

            <!-- Botón de envío -->
            <button type="submit" class="btn btn-success">Crear Cuenta de Servicio</button>
        </form>

    </div>

</body>

</html>